## .NET
bin/
obj/
*.user
*.suo
.vs/
*.log
logs/
*.nupkg
appsettings.Production.json
appsettings.Development.json

## Angular / Node
node_modules/
dist/
.angular/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Docker
.dockerignore

## OS
.DS_Store
Thumbs.db
desktop.ini

## IDE
.vscode/
.idea/
*.swp
